@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  @apply bg-[#1a1a1a];
}

/* .flip-container {
  perspective: 1000px;
} */

.flipper {
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  width: auto;
  height: auto;
}

.flipped .flipper {
  transform: rotateX(180deg);
}

.front, .back {
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  width: auto;
  height: auto;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.5);
}

.back {
  transform: rotateX(180deg);
}